@import "./fonts.scss";

:root {
  color-scheme: light dark;
}

html, body, #app, .tool, .display {
  min-height: 100%;
  width: 100%;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  @include monospace;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.src-img, .dst-acm {
  flex-basis: 40%;
  flex-shrink: 2;
  padding: 2%;
  height: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.src-img img, .dst-acm pre {
  width: 100%;
  flex: 0 1 auto;
}

.img-input {
  display: none;
}

.img-input-label {
  padding: 5px;
  background-color: black;
  color: white;
}

h2 {
  text-align:center;
}

span {
  padding: 5px;
  margin: 5px 10px;
}

.button {
  background-color: black;
  color: white;
}

.content {
  display: block;
  text-align: center;
}
